@model ProductVM
@{
    var Category = ViewBag?.Category as SelectList ?? new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text");
   
   // var Category = new SelectList(ViewBag.Category, "CategoryID", "Name");
}
<h3 class="text-center m-2"> Add Product </h3>
<div class="card p-4 m-2 border-3 border-dark rounded">
    <h4 class="text-center"> Product Details</h4>
<form asp-action="Create" enctype="multipart/form-data" >
    <div asp-validation-summary="All"></div>
   
    <div class="row">
        <div class="col">

    <label asp-for="ProductName" class="form-label"></label>
                <input asp-for="ProductName" class="form-control border-1 border-dark rounded" />
    <span asp-validation-for="ProductName" class="text-danger"></span>
    <br />
    <label asp-for="ProductPrice" class="form-label"></label>
                <input asp-for="ProductPrice" class="form-control border-1 border-dark rounded" id="Datestart" />
    <span asp-validation-for="ProductPrice" class="text-danger"></span>
    <br />
    </div>
        <div class="col">
    <label asp-for="Size" class="form-label"></label>
                <input asp-for="Size" class="form-control border-1 border-dark rounded" id="Datestart" />
    <span asp-validation-for="Size" class="text-danger"></span>
    <br />
                <label asp-for="Size" class="form-label"></label>
                <input asp-for="Size" class="form-control border-1 border-dark rounded" id="Datestart" />
                <span asp-validation-for="Size" class="text-danger"></span>
                <br />
         
            </div>
            </div>
    <div class="row">
    <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control border-1 border-dark rounded" id="Datestart" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <!--                        story i can not foun it im Model -->
        </div>
    <div class="row">
            <div class="col">
                <label asp-for="category" class="form-label"></label>
                <select class="form-control border-1 border-dark rounded" asp-for="CategoryID" asp-items="@Category">
                    <option value="@null">--Select CategoryID--</option>

                </select>
                <br />
            </div>
        </div>
        <div class="row">
    <label asp-for="ProductImage" class="form-label"></label>
    <input asp-for="ProductPath " class="form-control border-1 border-dark rounded" id="" />
    <br />
    </div>


        <input type="submit" class="btn buttonDark m-2 " value="Add" />
    <a asp-action="Index" class="btn btn-dark"> Back to List</a>
    <br />
</form>
</div>
