@using Microsoft.AspNetCore.Identity
@using Aulfah.DAL.Model


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var userFirstName = user?.UserName;
}



<ul class="navbar-nav flex-grow-1 list-group-horizontal justify-content-end">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a id="manage" class="nav-link" style="color:#A2D48D;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @userFirstName</a>
        </li>
    
}
else
{
    <li class="nav-item">
            <a class="nav-link" style="color:#A2D48D;" id="register" asp-area="Identity" asp-page="/Account/Register">Register/ </a>
    </li>
    <li class="nav-item">
            <a class="nav-link" style="color:#A2D48D; id="login" asp-area="Identity" asp-page="/Account/Login"> Login</a>
    </li>
}
</ul>

