<div class="row" style="background:#1C395E; height:300px;">

    <h1 class="mt-5 text-center" style="font-size:100px; color:#A2D48D;">About Aulfah</h1>
    <hr class="text-light w-50 text-center"/>

</div>